<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bitcoin-Client</title>
    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        body { display: flex; min-height: 100vh; flex-direction: column; }
        main { flex: 1 0 auto; }
    </style>
</head>

<body>

<!-- Header -->
<div th:insert="fragments/header :: header"></div>

<main>
    <div class="container">
        <div class="row">
            <div class="col s6">
                <div class="row">
                    <div class="col s8">
                        <span class="light-blue-text text-darken-3" id="currentPrice" style="font-size: 40px; margin-right: 10px;">____.__</span>
                        <span class="light-blue-text text-darken-3" id="variation" style="font-size: 20px;">__</span>
                    </div>

                    <!-- Websocket Connection -->
                    <div class="col s4">
                        <label>Websocket</label>
                        <div class="switch">
                            <label>
                                Off
                                <input id="websocketSwitch" type="checkbox" checked>
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <table id="priceList" class="striped">
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col s6">
                <h5 class="center-align orange lighten-4">Chat</h5>
                <div class="row">
                    <form id="chatForm" class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input disabled id="fromUser" type="text" class="validate"
                                       th:value="${#authentication.getName()}"/>
                                <label for="fromUser">Username</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="toUser" type="text" class="validate"/>
                                <label for="toUser">To</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="message" type="text" class="validate"/>
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="center-align">
                                <button class="btn waves-effect waves-light btn-small" type="submit">Send
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col s12">
                        <table id="chat" class="striped">
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Footer -->
<div th:insert="fragments/footer :: footer"></div>

<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/app.js"></script>

</body>
</html>